version: "3.8"
services:
  mongo:
    image: mongo
    ports:
      - "27017:27017"
  backend:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  frontend:
    build: ./client
    ports:
      - "5173:80"
